<launch>
    <arg name="config_path" default = "$(find air_vo)/configs/configs_euroc.yaml" />
    <arg name="camera_config_path" default = "$(find air_vo)/configs/euroc.yaml" />
    <arg name="model_dir" default = "$(find air_vo)/output" />
    <arg name="saving_dir" default = "$(find air_vo)/debug" />
    <arg name="traj_path" default = "$(find air_vo)/debug/traj.txt" />
    <arg name="left_topic" default = "/cam0/image_raw" />
    <arg name="right_topic" default = "/cam1/image_raw" />

    <node name="air_vo_ros" pkg="air_vo" type="air_vo_ros" output="screen">
      <param name="config_path" type="string" value="$(arg config_path)" />
      <param name="camera_config_path" type="string" value="$(arg camera_config_path)" />
      <param name="model_dir" type="string" value="$(arg model_dir)" />
      <param name="saving_dir" type="string" value="$(arg saving_dir)" />
      <param name="traj_path" type="string" value="$(arg traj_path)" />
      <param name="left_topic" type="string" value="$(arg left_topic)" />
      <param name="right_topic" type="string" value="$(arg right_topic)" />
    </node>
    
    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find air_vo)/configs/euroc.rviz" output="screen" />
</launch>		